<div class="container">

  <h1>Exibindo Horas Cadastradas</h1>
  <%= form_with model: @user do |form| %>
    <% @users.each do |user| %>
      <% if (@value_nome == user.nome) %>
      <table border="1" width="80%" class="table table-hover">
        <caption>Total de horas computadas (<%= user.nome %>)</caption>
        <tr>
        <th rowspan="23" class="titulo_lateral">
          <span>ATIVIDADES INTEGRADORAS DE ENRIQUECIMENTO CURRICULAR: <br />
          ENSINO - PESQUISA - EXTENSÃO</span>
        </th>
        <th style="text-align:center;"></th>
        <th style="text-align:center;">Carga Horária máxima computada</th>
        <th style="text-align:center;">Horas contabilizadas</th>
        <th style="text-align:center;">Horas cadastradas (total)</th>
        </tr>
        <tr>
        <th style="text-align:center;">Total contabilizado</th>
        <td width="10%" align="center"><b>-</b></td>
        <td width="20%" align="center"><b><%= user.cargahoraria[18] %></b></td>
        <td width="20%" align="center"><b><%= user.cargahoraria_total[18] %></b></td>
        </tr>
        <tr>
        <th><b>Participação como ouvinte em Palestras, Seminários,
                Congressos, Conferências, Simpósios, Fóruns, Encontros, Mesas Redondas,
                Minicursos, Oficinas e similares</b>
        </th>
        <td align="center"><b>80h</b></td>
        <td align="center"><%= user.cargahoraria[0] %></td>
        <td align="center"><%= user.cargahoraria_total[0] %></td>
        </tr>
        <tr>
        <th><b>Participação no desenvolvimento de projetos de extensão sob
               orientação de professor, <u>na área de formação</u></b>
        </th>
        <td align="center"><b>20h</b></td>
        <td align="center"><%= user.cargahoraria[1] %></td>
        <td align="center"><%= user.cargahoraria_total[1] %></td>
        </tr>
        <tr>
        <th><b>Participação no desenvolvimento de projeto de pesquisa
              sob orientação de professor, <u>na área de formação</u></b>
        </th>
        <td align="center"><b>20h</b></td>
        <td align="center"><%= user.cargahoraria[2] %></td>
        <td align="center"><%= user.cargahoraria_total[2] %></td>
        </tr>
        <tr>
        <th><b>Visitas orientadas a exposições, museus, teatros, patrimônio
                            artístico ou cultural </b></th>
        <td align="center"><b>20h</b></td>
        <td align="center"><%= user.cargahoraria[3] %></td>
        <td align="center"><%= user.cargahoraria_total[3] %></td>
        </tr>
        <tr>
        <th><b>Participação em atividades artísticas e culturais sob a
              supervisão de professor e/ou de profissional do IFFluminense</b></th>
        <td align="center"><b>35h</b></td>
        <td align="center"><%= user.cargahoraria[4] %></td>
        <td align="center"><%= user.cargahoraria_total[4] %></td>
        </tr>
        <tr>
        <th><b>Representação em Órgãos Colegiados e/ou Comissões do
                            IFFluminense <i>campus</i> Campos Centro</b></th>
        <td align="center"><b>10h</b></td>
        <td align="center"><%= user.cargahoraria[5] %></td>
        <td align="center"><%= user.cargahoraria_total[5] %></td>
        </tr>
        <tr>
        <th><b>Participação em atividade de extensão, <u>na área de formação</u>, nas
                            modalidades presencial e/ou semipresencial</b></th>
        <td align="center"><b>50h</b></td>
        <td align="center"><%= user.cargahoraria[6] %></td>
        <td align="center"><%= user.cargahoraria_total[6] %></td>
        </tr>
        <tr>
        <th><b>Atuação em função de bolsista ou voluntário no IFFluminense,
                em, no mínimo, 01 (um) semestre letivo</b></th>
        <td align="center"><b>20h</b></td>
        <td align="center"><%= user.cargahoraria[7] %></td>
        <td align="center"><%= user.cargahoraria_total[7] %></td>
        </tr>
        <tr>
        <th><b>Participação em curso de extensão, na área de formação, na
                            modalidade <i>online</i> </b></th>
        <td align="center"><b>20h</b></td>
        <td align="center"><%= user.cargahoraria[8] %></td>
        <td align="center"><%= user.cargahoraria_total[8] %></td>
        </tr>
        <tr>
        <th><b>Participação em Atividade de Monitoria, <u>na área de formação</u>,
                            no 2.º segmento do Ensino Fundamental, em Cursos de Nível
                            Médio e/ou em Curso Superior</b></th>
        <td align="center"><b>20h</b></td>
        <td align="center"><%= user.cargahoraria[9] %></td>
        <td align="center"><%= user.cargahoraria_total[9] %></td>
        </tr>
        <tr>
          <th><b>Participação como ouvinte na apresentação oral de Qualificação do
                              Projeto e/ou de Monografia(Trabalho de Conclusão, Dissertação e Tese),
                            <u>na área de formação e/ou em áreas afins à formação</u></b></th>
        <td align="center"><b>20h</b></td>
        <td align="center"><%= user.cargahoraria[10] %></td>
        <td align="center"><%= user.cargahoraria_total[10] %></td>
        </tr>
        <tr>
        <th><b>Participação como ouvinte na apresentação oral de Monografias
                            (Trabalho Conclusão de Curso, Dissertação e Tese),
                            <u>na área de formação e/ou em áreas afins à formação</u></b></th>
        <td align="center"><b>30h</b></td>
        <td align="center"><%= user.cargahoraria[11] %></td>
        <td align="center"><%= user.cargahoraria_total[11] %></td>
        </tr>
        <tr>
        <th><b>Apresentação de trabalhos acadêmicos, científicos ou culturais em
                            instituições de âmbito local, regional, nacional e/ou
                            internacional</b></th>
        <td align="center"><b>40h <br />(5h por trabalho apresentado)</b></td>
        <td align="center"><%= user.cargahoraria[12] %></td>
        <td align="center"><%= user.cargahoraria_total[12] %></td>
        </tr>
        <tr>
        <th><b>Publicação em periódicos / em Anais (Resumo e/ou Artigo Completo)</b></th>
        <td align="center"><b>40h <br />(10h por trabalho publicado)</b></td>
        <td align="center"><%= user.cargahoraria[13] %></td>
        <td align="center"><%= user.cargahoraria_total[13] %></td>
        </tr>
        <tr>
        <th><b>Publicação em Livros</b></th>
        <td align="center"><b>40h <br />(10h por trabalho publicado)</b></td>
        <td align="center"><%= user.cargahoraria[14] %></td>
        <td align="center"><%= user.cargahoraria_total[14] %></td>
        </tr>
        <tr>
        <th><b>Participação na organização e coordenação de eventos
                            acadêmico-científico-culturais internos ou
                            externos ao IFFluminense</b></th>
        <td align="center"><b>30h <br />(5h para cada dia de participação)</b></td>
        <td align="center"><%= user.cargahoraria[15] %></td>
        <td align="center"><%= user.cargahoraria_total[15] %></td>
        </tr>
        <tr>
        <th><b>Participação em Grupo de Estudo Temático sob orientação
                            de professor, em semestre letivo, <u>na área de
                            formação e/ou em áreas afins à formação</u></b></th>
        <td align="center"><b>20h</b></td>
        <td align="center"><%= user.cargahoraria[16] %></td>
        <td align="center"><%= user.cargahoraria_total[16] %></td>
        </tr>
        <tr>
        <th><b>Apresentação de trabalhos de pesquisa institucional em eventos
                            científicos internos ou externos</b></th>
        <td align="center"><b>40h <br />(5h por cada apresentação)</b></td>
        <td align="center"><%= user.cargahoraria[17] %></td>
        <td align="center"><%= user.cargahoraria_total[17] %></td>
        </tr>
      </table>
      
      <%= link_to 'Voltar', :back, :class => "btn btn-primary"  %>

    <style type="text/css">
      .titulo_lateral {
        text-align: center;
        vertical-align: middle!important;
        display: table-cell!important;
        position: relative;
      }
      .titulo_lateral span {
        writing-mode: vertical-rl;
        transform: rotate(180deg);
      }
      tr > td{
        vertical-align: middle!important;
        display: table-cell!important;
      }
    </style>
      <% end %>
    <% end %>
  <% end %>
</div>
