<div class="container col-md-9">
  <p id="notice"><%= notice %></p>
  <h1>Usuários</h1>

  <%= form_tag(control_users_index_path, method: :get, class: "form-group")  do %>
    <%= text_field_tag :search, params[:search], class: "form-control text_form", placeholder: 'Pesquise por um aluno!' %>
    <%= submit_tag ("Procurar"), class: "form-control button_form"%>
  <% end %>

  <%= form_with model: @user do |form| %>

  <table class="table table-hover">

    <thead>
      <tr>
        <th scope="col">Perfil</th>
        <th scope="col">Nome</th>
        <th scope="col">Matricula</th>
        <th scope="col">Role</th>
        <th scope="col">Licenciatura</th>
        <th scope="col"">Relatório de Horas</th>
        <th scope="col"">Modificação de Horas</th>
      </tr>
    </thead>

    <tbody>
        <% @users.each do |user| %>
          <tr>
            <td>
              <% if user.avatar.url.present? %>
                <%= image_tag(user.avatar.url) %>
              <% end %>
            </td>
            <td><%= user.nome %></td>
            <td><%= user.matricula %></td>
            <td><%= user.role %></td>
            <td><%= user.licenciatura %></td>
            <td><%= link_to 'Relatório do(a) '+user.nome, control_users_horas_user_path(:nome => user.nome), target: "_blank", :class => "btn btn-danger" %></td>
            <td><%= link_to 'Modificar Horas', new_activity_path(:id => user.id, :nome => user.nome), :class => "btn btn-success"  %> <br /></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <% end %>

<style type="text/css">
  .text_form {
    width:80%;
  }
  .button_form {
    width: 18%;
  }
  .text_form, .button_form {
    display: inline;
  }
  table {
    border:2px solid black;
  }
  td img {
    height:50px;
    width:50px;
    border-radius:100%;
  }
  .btn-success {
    background-color:white;
    color:black!important;
    font-size:1.1em;
  }
  .btn-danger {
    background-color:white;
    color:black!important;
    font-size:1.1em;
  }
</style>
