<div class="container col-md-9">
    <h5>Bem vindo(a) à tela de Eventos</h5>
    <%= form_with(model: @evento, url: {action: "create"}, local: true) do |f| %>

    <% if flash[:notice] %>
        <div class="notice" style="color:green"><%= flash[:notice] %></div>
    <% end %>

    <div class="background-quadros">
      <% @eventos.order("id desc").each do |evento| %>
        <div class="panel">
          <div class="panel-body">
            <h2><%= evento.noticia %></h2>

            <% if evento.noticia_foto.url.present? %>
              <%= image_tag(evento.noticia_foto.url) %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <% if current_user.role == "admin" %>
      <footer class="row">
        <div class="comentario col-md-8">
          <%= f.text_area :noticia, :placeholder => "Digite seu Comentário" %>
        </div>

        <div class="noticia_foto col-md-3">
          <div class="button_session">
            <%= f.submit "Salvar" %>
          </div>
          <small>Ou Envie uma foto do evento</small>
          <%= f.file_field :noticia_foto, accept: 'image/gif, image/jpg, image/jpeg, image/png' %>
        </div>
      </footer>
    <% end %>

      <style type="text/css">
        .panel {
          box-shadow: -3px 3px 15px rgba(200,200,200,0.3);
          border-radius:20px;
        }
        .panel h2 {
          text-align:center;
          padding-bottom:5px;
          color: rgba(120,120,120,0.9);
        }
        .comentario textarea {
          resize: none;
          width:100%;
          height:80px;
        }
        .noticia_foto {
          margin-top:10px;
        }
        .panel-body img {
          height:250px;
          width:550px;
          border-radius:10px;
          box-shadow:-3px -3px 33px rgba(20,20,20,0.3);
        }
        .panel-body {
          text-align:center;
        }
        footer {
          border: 2px solid black;
          border-top-right-radius: 15px;
          border-top-left-radius: 15px;
          background-color: rgba(255,255,255,0.8);
          padding:20px;
          position:fixed;
          bottom:0;
          width:70%;
        }
      </style>
    <% end %>
</div>
