<div class="container">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="tela_login">
    <div class="formulario_login">
      <div class="imagem_topo">
        <%= image_tag 'user.png', alt: 'user' %>
      </div>

      <div class="form-row justify-content-center">
        <div class="form-group">
          <div class="input-group mx-auto">
            <div class="input-group-prepend">
              <span class="input-group-text"><%= image_tag 'user_login.png', alt: 'email' %></span>
            </div>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email', class: 'email' %>
          </div>
        </div>
      </div>

      <div class="form-row justify-content-center">
        <div class="form-group">
          <div class="input-group mx-auto">
            <div class="input-group-prepend">
              <span class="input-group-text"><%= image_tag 'lock_login.png', alt: 'lock' %></span>
            </div>
            <%= f.password_field :password, autocomplete: "Senha", placeholder: 'Senha' %>
          </div>
        </div>
      </div>

      <div class="button_session">
        <div class="actions">
          <%= f.submit "Entrar", class: 'entrar' %>
        </div>
      </div>
      <% end %>

      <div class="botoes_inferior">
        <%= render "devise/shared/links" %>
        <%= link_to "Voltar", welcome_index_path, :class => "btn btn-warning voltar_btn" %>
      </div>
    </div>
  </div>
</div>

<style type="text/css">
  .container {
    margin-bottom: 70px;
  }
  .formulario_login {
    border: 1px solid rgba(200,200,200,0.6);
    box-shadow: -2px 2px 15px rgba(200,200,300,0.9);
    padding:15px;
    margin: 0 auto;
    text-align: center;
    width: 29%;
  }
  .imagem_topo img {
    margin-top: -60px;
  }
  .form-group {
    background-color: #e9ecef;
    border-radius: 10px;
    padding:5px;
  }
  .input-group-text img {
    width: 80%;
  }
  .tela_login, .input-group {
    text-align: center;
  }
  .container ul li {
    margin-top:-5px;
    margin-left:-40px;
  }
  .esqueceu, .voltar {
    display: block;
  }
  .voltar_btn, .entrar {
    width: 100%!important;
  }
  .voltar_btn {
    margin-top: 10px;
  }
  .botoes_inferior {
    text-align: center;
  }

  @media (max-width: 991.98px) {
    .formulario_login {
      width: 80%!important;
    }
  }

  @media (max-width: 1199.98px) {
    .formulario_login {
      width: 35%;
    }
  }

</style>
